/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput{
  width:200px;
}
.navbar{
  background:white;
}
.navigation{
  padding-top: 10px;
  background: green;
  text-transform: uppercase;
  font-weight: bold;
}
.navigation img
{
  padding-left:20px;
}
.navigation a{
  font-size: 18px;
}
.navbar-nav{
  padding-top: 12px;
  padding-left: 20px;
}
.navbar-nav ul.dropdown-menu{
  background:green;
}
.navbar-nav li a
{
  color:white;
}
.navbar-nav li a:hover
{
  color:blue;
}
.navbar-form{
  padding-left: 10px;
  padding-top: 12px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
