/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/
/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
    text-align: center;
}
#features img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#cool {
    text-align: center;
}
ul li {
    list-style: none;
}
#para p {
    text-align: justify;
}
.tabs-content,
.thumb {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footercon {
    background: black;
}
footer a,
h4,
h6,
address,
span,
list-ss,
li {
    color: white;
}
#goal {
    color: white;
}
.lead {
    text-align: center;
}
#black {
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
}
#margin {
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
  padding-left: 5px;
  padding-right: 5px;

}
#logo {
    color: white;
    font-size: 22px;
}
.tab-content {
    margin-top: 15px;
}
.list-item {
    color: white;
}
.list-ss {
    margin-top: 10px;
}
.list-aaa {
    margin-top: 20px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4 {
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}
.well .page-header {
    margin-top: 0;
}
.well .page-header h1 {
    margin-top: 0;
}
.thumbnail>img {
    margin-top: 10px;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-form {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#searchInput {
    width: 130px;
}
a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a {
    color: lightgreen;
    background-color: grey;
}
a:hover {
    color: red;
    text-decoration: none;
}
.navbar .navbar-default {
    position: fixed;
}
.navbar-brand {
    text-align: justify;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
#logo:hover {
    color: red;
}
.navbar-default .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
}
.top-navbar li a {
    color: white;
}
.top-navbar li a:hover {
    color: red;
}
.full-nav {
    background: black;
}
.top-navbar ul.dropdown-menu {
    background: black;
}
.navbar-toggle {
    top: 18px;
}
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
    margin-top: 100px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
    margin-top: 20px;
    display: none;
}
.well {
    margin: 20px 0;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */
/* Portrait & landscape phone */

@media (min-width: 200px) and (max-width: 768px) {
  #header2, .lead,h2{
    font-size: 16px;
  }
  h1{
    font-size:18px;
  }
  h3{
    font-size:14px;
  }
  h4,h5,h6{
    font-size:12px;
  }

  .lead{
    font-size: 14px;
  }
}
/* Landscape phone to portrait tablet */

@media (max-width: 480px) {}
/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}
/* Large desktop */

@media (min-width: 1200px) {}
